#root {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url("../img/tileableParchment.png");
  background-size: 800px 800px;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  background-color: #3c2205;
  color: white;
  align-items: center;
}

.header div {
  position: absolute;
  right: 0;
}

h2 {
  margin: auto;
  margin-top: 3px;
  font-size: 3rem;
}

.noteBody {
  position: absolute;
  top: 5rem;
  display: flex;
  flex-wrap: wrap;
  margin: 2.5%;
  width: 95%;
  justify-content: center;
}

.noteCard {
  background-color: white;
  border: 1px solid black;
  width: 300px;
  margin: 3px;
  overflow: hidden;
  border-radius: 10px;
  padding: 2px;
}

.noteCard p {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px;
  max-height: 20rem;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  height: 2rem;
}

.cardHeader button {
  width: 50px;
  height: 2rem;
  padding: 2px;
}

h3 {
  margin-left: 8px;
  margin-top: 8px;
}

button {
  padding: 2px;
  margin: 2px;
}
